

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    animation: fade-in 1s ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}
img {
   background-clip: cover;
   background-size: cover;
   background-position: center center;
    height: 300px;
    width: 400px;
    
}
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.project {
    margin-bottom: 20px;
}

.project h3 {
    margin-top: 0;
}

.project p {
    margin: 5px 0;
}

.project a {
    color: #007BFF;
    text-decoration: none;
}
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
}

@media screen and (max-width: 500px) {
  
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    img{
        position: relative;
        left: 25px;
        bottom: -10px;
    }

    section {
        padding: 10px;
        margin: 10px;
    }

    footer {
        padding: 5px 0;
    }


}
